/*** Gallery **********************/

.modal{
	display: none;
	animation: fadeIn .5s reverse;
}

.modal-active{
	position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn .5s;
}


.modal-close{
	position: absolute;
	z-index: 11;
	cursor: pointer;
    width: 100%;
    text-align: right;
    line-height: 0;
    padding: 1em;
    background-color: transparent;
    transition: background-color .25s; 
}

.modal-close:hover{
	background-color: rgba(0,0,0, .1);
}

.modal-close .icon-cross{
	display: inline-block;
	width: 10px;
	height: 10px;
}

.modal_main{
	position: fixed;
    left: 0;
    z-index: 5;
    background-color: #000;
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    transition: all 1s;
    overflow: hidden;
    padding-bottom: 4em;
    background: linear-gradient(225deg, #333333 25%, transparent 25%) -25px 0,
				linear-gradient(135deg, #333333 25%, transparent 25%) 25px 0,
				linear-gradient(315deg, #333333 25%, transparent 25%),
				linear-gradient(45deg, #333333 25%, transparent 25%);	
	background-size: 50px 50px;
	background-color: #2a2a2a;
}


.modal-active .modal_main{
	animation: modalMoveUp ease-out .5s;
}



/*.modal_main-vertical{
	width: 60vw;
	margin: 5vh 20vw;
}

.modal_main-horizontal{
	height: 62vh;
    width: 75vw;
    margin: 19vh 12.5vw;
}

.modal_main-square{
	width: 74vw;
    margin: 5vh 13vw;
}*/

.modal_main_img_container{
	cursor: pointer;
}

.modal_main_img_zoom_button{
	display: inline-block;
	opacity: 0;
    width: 30px;
    height: 30px;
    background: url('../img/icons.svg#zoom-in') no-repeat 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}


.modal_main_img_zoom_button:hover{
	opacity: 1;
}

.modal_main_img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0,0,0, .5);
}

.modal_main_img:before{
    content: '';
    position: absolute;
    background-color: yellow;
    width: 200px;
    height: 200px;
    z-index: 99999;
}


/*.fillwidth { 
  width: 100%; 
  height: auto; 
}

.fillheight { 
  height: 100%; 
  width: auto; 
}*/


.modal_main_content{
	position: relative;
    flex-grow: 1; 
    margin: 2em;
}

.modal_main_content_back_button, .modal_main_content_forward_button{
	cursor: pointer;
	position: absolute;
	display: block;
	padding-top: 8em;
	padding-bottom: 8em;
	z-index: 5;
	line-height: 0;
	top: 50%;
    margin-top: -136px;
}

.modal_main_content_back_button:hover, .modal_main_content_forward_button:hover{
	background-color: rgba(0,0,0, .1);
}

.modal_main_content_back_button{
	left: -2em;
	padding-left: .5em;
	padding-right: 1em;
}

.modal_main_content_forward_button{
	right: -2em;
	padding-left: 1em;
	padding-right: .5em;
}

.modal_main_sidebar{
	position: relative;
    bottom: -4em;
    background-color: #add8e6;
}

.modal_main_sidebar_content{
    padding: 1em;
    flex-basis: 4em;
    background-color: #add8e6;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 4em;
    z-index: 10;
    transition: height 1s;
}

.modal_main_sidebar_content-is_active{
	height: 14em;
	overflow: auto;
}


.modal_bg{
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

/** Zoomed in changes **/

.modal_main_content-zoomed_in{
	margin: 0;    
	overflow: auto;
}

.modal_main_content-zoomed_in .modal_main_img{
	top: 0;
    left: 0;
    transform: inherit;
    max-width: inherit;
    max-height: inherit;
}

.modal_main_content-zoomed_in .modal_main_content_forward_button, 
.modal_main_content-zoomed_in .modal_main_content_back_button{
	display: none;
}

.modal_main_content-zoomed_in .modal_main_img_zoom_button{
    background: url('../img/icons.svg#zoom-out') no-repeat 0 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    z-index: 10;
}

@media screen and (min-width: 500px){

	.modal-close{
		padding: 1em;
	}

	.modal-close .icon-close{
		width: 12px;
		height: 12px;
	}

	.modal_main_content_back_button{
		padding-left: 1em;
	}

	.modal_main_content_forward_button{
		padding-right: 1em;
	}
}

@media screen and (min-width: 800px){
	.modal_main{
		flex-direction: row;
		padding-bottom: 0;
	}
	
	.modal_main_sidebar{
		position: static;
		flex-basis: 19em;
		overflow: auto;
	}

	.modal_main_sidebar_content{
		position: relative;
	    padding: 2em; 
    	height: auto;
    	overflow: auto;
	}


}



@keyframes modalMoveUp {
    from { bottom: -5%; }
    to { bottom:0; }
}