/*** Gallery **********************/

.modal{
	display: none;
}

.modal-active{
	display: block;
	position: relative;
	z-index: 100;
}

.modal-close{
	position: absolute;
	cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 1em;
    background-color: none;
    transition: background-color .25s; 
}

.modal-close:hover{
	background-color: rgba(0,0,0, .1);
}

.modal_main{
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

	overflow: hidden;
	background-color: white;
	margin: 2em;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
}


.modal_main_img{}

.fillwidth { 
  width: 100%; 
  height: auto; 
}
.fillheight { 
  height: 100%; 
  width: auto; 
}


.modal_main_content{
	text-align: center;
    /* flex-basis: 50%; */
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
}

.modal_main_sidebar{
    background-color: #add8e6;
    padding: 2em;
    overflow: auto;
    flex: 0 0 50%;
}


.modal_bg{
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}



@media screen and (min-width: 800px){
	.modal_main{
		flex-direction: row;
		margin: 5em auto;
    	width: 707px;
	}
}