.main_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_logo{
	width: 26px;
}

.main_logo_link {
  	position: relative;
  	display: inline-block; 
	height: 60px;
	width: 60px;
	padding: 15px;
	text-align: center;
}

.main_logo_link:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.main_title{
    font-size: 1em;
    margin: 0;
    padding: 2em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 14px;
    text-align: center;
}


@media screen and (min-width: 600px){
	.main_logo{
		width: 40px;
	}

	.main_logo_link{
		height: 45.89px;
    	width: 40px;
    	padding: 0;
	}

	.main_header{
		padding: 2em;
	}
}