/*** Icons **********************/

.icon{
	display: inline-block;
	height: 16px;
	width: 16px;
}

.icon-github{
	background: url("../img/icons.svg#github") no-repeat left top;
}

.icon-instagram{
	background: url("../img/icons.svg#instagram") no-repeat left top;
}

.icon-twitter{
	background: url("../img/icons.svg#twitter") no-repeat left top;
}

.icon-email{
	background: url("../img/icons.svg#email") no-repeat left top;
}