/*** Main Navigation **********************/

.main_nav{}

.main_nav_list{
	display: none;
	list-style-type: none;
	position: absolute;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	background-color: black;
}

.main_nav_list_item{}

.main_nav_list_item_link{
	display: block;
	width: 100%;
	padding: 2em 0;
	text-align: center;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}

.main_nav_list_item_link_icon{
	display: none;
}

.main_nav_list_item_link_title{
	display: flex;
    justify-content: center;
    align-items: center;

    &::before, &::after{
    	opacity: 0;
    	display: inline-block;
	    content: '';
	    width: 0;
	    height: 4px;
	    background-color: white;
	    transition: width .25s, margin 1s, opacity .5s;
    }

    &::before{
    	margin-right: 10px;
    }

    &::after{
    	margin-left: 10px;
    }
}


.main_nav_list_item_link:hover .main_nav_list_item_link_title:before{
	opacity: 1;
	width: 14px;
	margin-right: 20px;
} 

.main_nav_list_item_link:hover .main_nav_list_item_link_title:after{
	opacity: 1;
	width: 14px;
	margin-left: 20px;
}

.js .main_nav-active .main_nav_list{
	display: block;
}

/*** Hamburger Icon **********************/

.main_nav_link{
	position: relative;
    display: inline-block; 
	padding: 22px;
	height: 60px;
	z-index: 3;
}

.no-js .main_nav_link{
	display: block;
}

.main_nav_link:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.main_nav_icon{
	cursor: pointer;
	width: 16px;
	fill: black;
}

.main_nav_icon-top{
	transform-origin: 0px 19px;
}

.main_nav_icon-bottom{
	transform-origin: 0px 44px;
}

.main_nav_icon-top, .main_nav_icon-bottom{
	transition: transform .5s;
	transform: rotate(0);
}
.main_nav_icon-middle{
	transition: opacity .5s;
	opacity: 1;
}

.main_nav_icon-bottom{}

.main_nav_close{
	text-align: right;
	padding: 1em;
	cursor: pointer;
}


[class ^= "icon-"]{
	width: 16px;
}

.icon-white{
	fill: white;
}

.icon-black{
	fill: black;
}


@media screen and (min-width: 600px){

	.nav_container{}

	.main_nav{
		position: absolute;
		z-index: 2;
	  	top: 1.6em;
	  	right: 1em;

	}


	.main_nav-stretch_bg{
	  position: absolute;
	  z-index: 1;
	  top: 0;
	  right: 0;
	  width: 60px;
	  height: 60px;
	  border-radius: 30px;
	  box-shadow: none;
	  transition: height 0.2s;
	}


	.main_nav_list{
		position: relative;
		display: none;
		list-style-type: none;
		background-color: inherit;
		overflow-y: inherit; 
		padding: 0 0 2em 0;
		margin: 0;
		z-index: 4;
	}



	.main_nav_list_item:hover:before{
		position: absolute;
	    content: '';
	    background-color: #7ec4c5;
	    width: 5px;
	    height: 48px;
	}



	.main_nav_list_item_link{
		position: relative;
		display: block;
		padding: 16px 22px;
		width: inherit;
		line-height: 0;

		&:hover{
			background-color: inherit;
		}
	}

	.main_nav_list_item_link_icon{
		display: inline-block;
		width: 16px;
		height: 16px;
		transition: opacity 1s;
	}

	.main_nav_list_item_link_title{
		visibility: hidden;
		display: block;
		position: absolute;
		right: 60px;
		top: 0;
		color: black;
		opacity: .25;
		padding: 1em 1.5em;
		font-size: 14px;
		height: 100%;
		line-height: 1.3;
		transition: right .25s;
		background-color: #7ec4c5;
		text-transform: lowercase;

		&::before, &::after{
			display: none;
		}
	}

	.main_nav_list_item:hover .main_nav_list_item_link_title{
		visibility: visible;
		opacity: 1;
		right: 70px;
	}

	.js .main_nav-active .main_nav-stretch_bg, .no-js .main_nav:hover .main_nav-stretch_bg{
		background-color: black;
		height: 100%;
		box-shadow: 0px 2px 2px rgba(0,0,0, .2);
	}

	.js .main_nav-active .main_nav_list, .no-js .main_nav:hover .main_nav_list{
		display: block;
		animation-name: fadeIn;
        animation-duration: 1s;
	}

	/** Icons **/

	.main_nav_icon{
		position: relative;
	}

	.main_nav_close{
		display: none;
	}

	.no-js .main_nav:hover .main_nav_icon-top, .main_nav-active .main_nav_icon-top{
		fill: white;
	    transform: rotate(45deg);
	}

	.no-js .main_nav:hover .main_nav_icon-middle, .main_nav-active .main_nav_icon-middle{
		opacity: 0;
	}

	.no-js .main_nav:hover .main_nav_icon-bottom, .main_nav-active .main_nav_icon-bottom{
		fill: white;
	    transform: rotate(-45deg);
	}



	.js .main_nav-active .main_nav_icon-top{
		transform: rotate(45deg);
	}

	.js .main_nav-active .main_nav_icon-bottom{
		transform: rotate(-45deg);
	}

	.main_nav_list_item_link_icon-blog{
		background: url("../img/icons.svg#blog") no-repeat left top;
	}

	.main_nav_list_item_link_icon-scrapbook{
		background: url("../img/icons.svg#scrapbook") no-repeat left top;
	}

	.main_nav_list_item_link_icon-projects{
		background: url("../img/icons.svg#projects") no-repeat left top;
	}

}

@media screen and (min-width: 1000px){
	.main_nav{
		position: static;
	}

	.main_nav_link, .no-js .main_nav_link{
		display: none;
	}

	.main_nav_list{
		position: static;
    	visibility: visible;
    	display: block;
    	padding: 0;
	}
	
	.main_nav_list_item{
		position: relative;
		display: inline-block;
		
		&:after{
			content: '';
			position: absolute;
			left: 0;
			height: 2px;
			background-color: black;
			width: 0;
			opacity: 0;
			transition: width 1s, opacity 1s;
		}

		&:hover:before{
			position: static;
		}
		&:hover:after{
			opacity: 1;
			width: 100%;
		}
	}

	.main_nav_list_item_link_title{
		position: static;
    	padding: 0;
    	visibility: visible;
    	background-color: transparent;
    	opacity: 1;
    	font-size: 16px;
    	font-weight: 500;
    	line-height: 1;
	}

	.main_nav_list_item_link_icon{
		display: none;
	}

	.main_nav-stretch_bg{
		display: none;
	}

	.js .main_nav-active .main_nav_list, .no-js .main_nav:hover .main_nav_list{
		animation-name: none;
	}

}

//Animations

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1}
}






