/*** Scrapbook **********************/


.scrapbook_container{
	max-width: 1140px;
}

.scrapbook_img_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scrapbook_img{
	position: relative;
	flex-basis: 50%;
	line-height: 0;
	overflow: hidden;

	&:after{
		content: '';
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background-color: rgba(255,235,59,.1);
	}

	&:hover{
		&:after{
			background-color: transparent;
		}
	}

}

.scrapbook_img img{
	width: 100%;
	height: auto;
}


.scrapbook_container_btn-close, .scrapbook_img_info{
	display: none;
}

.scrapbook_img_info{
}

/** Active States *****************************/

.scrapbook_container-is_active{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.scrapbook_container-is_active  .scrapbook_img_container{
	flex-wrap: nowrap;
	height: 100%;
}

.scrapbook_container-is_active .scrapbook_img{
    flex: 0 0 100%;
    height: inherit;
    cursor: default;

    &:after{
    	content: none;
    }
}


.scrapbook_container-is_active .scrapbook_img img{
	width: auto;
}


.scrapbook_container-is_active .scrapbook_img_info{
	display: block;
	position: absolute;
    width: 100%;
    padding: 1em;
    background-color: lightgrey;
    bottom: 0;
    z-index: 3;
}

.scrapbook_container-is_active .scrapbook_container_btn-close{
	display: block;
	width: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 3;
    padding: 1em;
    text-align: right;

    &:hover{
    	background-color: rgba(0, 0, 0, 0.2);
    }
}



@media screen and (min-width: 600px){
	.scrapbook_img{
		flex-basis: 33.333333333333%;
	}
}


@media screen and (min-width: 800px){
	.scrapbook_img{
		flex-basis: 25%;
	}
}