body{
	font-family: 'Brandon Grotesque';
}

.container{
	max-width: 960px;
	margin: 0 auto;
}


.main_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em 0 1em 1em;
}

.main_logo{
	width: 26px;
}

.main_logo_link{
	height: 47px;
}


@media screen and (min-width: 600px){
	.main_logo{
		width: 40px;
	}

	.main_header{
		padding: 2em 1em 2em 2em;
	}
}

.main_title{

}

/*** Main Navigation **********************/

.main_nav{
	position: absolute;
	z-index: 2;
  	top: 1.6em;
  	right: 2em;

}


.main_nav-stretch_bg{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  /*background: #9acd91;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
  transition: height 0.2s, box-shadow 0.2s;
}


.main_nav_list{
	position: relative;
	visibility: hidden;
	display: none;
	list-style-type: none;
	padding: 0 0 2em 0;
	margin: 0;
	z-index: 4;
}



.main_nav_list_item:hover:before{
	position: absolute;
    content: '';
    background-color: yellow;
    width: 5px;
    height: 48px;
}



.main_nav_list_item_link{
	position: relative;
	display: block;
	padding: 16px 22px;
}

.main_nav_list_item_link_icon{
	fill: white;
	width: 16px;
	display: block;
}

.main_nav_list_item_link_title{
	visibility: hidden;
	display: block;
	position: absolute;
	right: 60px;
	top: 0;
	color: black;
	opacity: .25;
	padding: 1em 1.5em;
	font-size: 14px;
	transition: right .25s;
	background-color: yellow;
}

.main_nav_list_item:hover .main_nav_list_item_link_title{
	visibility: visible;
	opacity: 1;
	right: 70px;
}

.js .main_nav-active .main_nav-stretch_bg, .no-js .main_nav:hover .main_nav-stretch_bg{
	background-color: black;
	height: 100%;
}

.js .main_nav-active .main_nav_list, .no-js .main_nav:hover .main_nav_list{
	visibility: visible;
	display: inherit;
}



/*** Hamburger Icon **********************/

.main_nav_icon{
	cursor: pointer;
	position: relative;
	z-index: 3;
	width: 16px;
	padding: 22px;
	fill: black;
}

.main_nav_icon-top{
	transform-origin: 0px 19px;
}

.main_nav_icon-bottom{
	transform-origin: 0px 44px;
}

.main_nav_icon-top, .main_nav_icon-bottom{
	transition: transform .5s;
	transform: rotate(0);
}
.main_nav_icon-middle{
	transition: opacity .5s;
	opacity: 1;
}

.main_nav_icon-bottom{}

.main_nav_close{
	text-align: right;
	display: none;
}

.main_nav_close_icon{
	fill: white;
	width: 16px;
	padding: 2em;
}

@media screen and (min-width: 600px){
	.main_nav_close_icon{
		display: none;
	}

	.no-js .main_nav:hover .main_nav_icon-top, .main_nav-active .main_nav_icon-top{
		fill: white;
	    transform: rotate(45deg);
	}

	.no-js .main_nav:hover .main_nav_icon-middle, .main_nav-active .main_nav_icon-middle{
		opacity: 0;
	}

	.no-js .main_nav:hover .main_nav_icon-bottom, .main_nav-active .main_nav_icon-bottom{
		fill: white;
	    transform: rotate(-45deg);
	}



	.js .main_nav-active .main_nav_icon-top{
		transform: rotate(45deg);
	}

	.js .main_nav-active .main_nav_icon-bottom{
		transform: rotate(-45deg);
	}

}


/*** Main Introduction **********************/

.main_intro{
	padding: 0 2em;
}

.main_intro_title{
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}

.main_intro_link{
	color: #333;
    text-decoration: none;
}

.main_intro_link:hover{
	text-decoration: underline;
}


/*** Helpers ********************************/

.no_scroll-sm_only{
	overflow-y: hidden;
}

@media screen and (min-width: 600px){
	.no_scroll-sm_only{
		overflow-y: auto;
	}
}