
//---------------------------------------------------------------------------
// Base Styles
//----------------------------------------------------------------------------

.container, .container-full{
    @include make-container();
}

.container-no_padding{
	max-width: 1140px;
	@include make-container(null, 1140px, 0);
}

.container{
    max-width: $container-width;
}


.grid_row{
    @include make-row();
}


.grid_row .grid_row{
    margin-bottom: (-$margin-bottom);    
}

